/*cle api google AIzaSyB7818QaPiMiyPwXh_GsDE3Ie2kSD-MIxM */
#body{
	padding: 0px ;
	margin: 0px ;
	background-color: white/*#F6F6F6*/;
	font-family: "Verdana" ;
}
/*header*/
#toptop{
	position: relative;
	margin : 0px;
	padding: 0px;
	width: 80%;
	
}
@media all and (min-width: 1023px)
{
	#toptop{
		display : flex;
		margin-left: 10%;
	}
}
@media all and (max-width: 1023px)
{
	#toptop{
		display : block;
		margin-right: auto;
		margin-left: auto;
	}
}
#logo{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	padding-bottom: 5px; 
}
@media all and (min-width: 1023px)
{
	#logo{
	max-width: 70%;
	}
}
@media all and (max-width: 1023px)
{
	#logo{
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
.menubandcon{
	position: absolute;
	right: 0px;
	margin: 0px;
	padding: 0px;
	display: flex;
}
#divbandeau{
	position: relative;
	padding: 0px;
	margin: 0px;
	height: 30px;
}
#divbandeau ul{
	display: table;
	padding: 0px;
	margin: 0px;
}
#divbandeau li{
	display: table-cell;
	margin: 5px;
}
#divbandeau a{
	display : block ;
	text-decoration: none;
	position: relative;
	padding: 5px;
	font-size: 16px;
	color:grey;
	background-color: rgba(207,207,207,0.4);
}
#divbandeau li:hover{
	transition: 0.2s;
	background-color: rgba(207,207,207,1);
}
#divbandeau:hover a{
}
#divconnexion{
	position: relative;
	padding: 0;
	margin: 0;
	height: 30px;
}
#divconnexion ul{
	display: table;
	padding: 0;
	margin: 0;
}
#divconnexion li{
	display: table-cell;
	margin: 5px;
}
#divconnexion a{
	display: block ;
	text-decoration: none;
	position: relative;
	padding: 5px;
	font-size: medium;
	color: grey;
	background-color: rgba(207,207,207,1);
}
#profilheader{
	position: relative;
	margin: 0px;
	margin-top: 16px;
	padding: 0px;
	display: block;
	font-size: 16px;
	color: rgb(255,204,0);
}
/*fin header */
/*début barre du menu*/

@media all and (min-width: 1024px){
	#fondmenu{
		width: 100% ;
		height: 50px;
		background: linear-gradient( #181b1d , #0c0e0f );
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
					0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
					0px -3px 0px 1px rgba(0, 0, 0, 0.1) inset;
	}
	.fixedTop{
			position: fixed;
			top:0;
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
	#menu{
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		display: table;
		padding: 0;
	}

	#menu li{
		display: table-cell;
		width: 180px;
		transition: 1s;
	}
	#menu li:hover{
		width: 190px ;
		transition: 0.5s;
	}
	#menu a{
		color: white;
		text-decoration: none;
		display: block;
		line-height: 46px;
		text-align: center;
		text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
		transition: text-shadow, color 1s;
		}
	#menu a:hover{
		color:  rgb(255,204,0);
		background: rgba(255,255,255,0.05);
		transition: text-shadow, color 1s;
		border-bottom: 4px solid rgba(255,204,0,0.8);
	}
}

@media all and (max-width: 1023px){
	#fondmenu{
		position: relative;
		margin-top: 50px;
		width: 100% ;
		height: 50px;
		background: linear-gradient( #181b1d , #0c0e0f );
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
					0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
					0px -3px 0px 1px rgba(0, 0, 0, 0.1) inset;
	}
	#menu{
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		display: table;
		padding: 0;
	}
	#menu li{
		display: table-cell;
		width: 180px;
		transition: 1s;
	}
	#menu li:hover{
		width: 190px ;
		transition: 0.5s;
	}
	#menu a{
		color: white;
		text-decoration: none;
		display: block;
		line-height: 46px;
		text-align: center;
		text-shadow: 0px 1px 7px rgba(0, 0, 0, 0.5);
		transition: text-shadow, color 1s;
		}
	#menu a:hover{
		color:  rgb(255,204,0);
		background: rgba(255,255,255,0.05);
		transition: text-shadow, color 1s;
		border-bottom: 4px solid rgba(255,204,0,0.8);
	}
}
/*Fin barre du menu*/



/*début barometre des taux*/
#divbarometre{
		position: relative;
		justify-content: center;
		left: 10%;
		width : 80% ;
		height : auto ;
		text-align: center;
	}
	#barometre{
		display : table ;
		margin: 0px;
		padding: 0px;
	}
	#barometre li{
		position: relative;
		display : table-cell ;
		width: 10%;
		height: 55px;
		color : grey;
		line-height: 25px;
	}
	#barometre a{
		position: relative;
		text-decoration: none;
		color : rgb(255,204,0);
	}
	#barometrebegin{
		position: relative;
		color: white;
		margin: 0px;
		height: 55px;
		line-height: 55px;
		font-weight: bold;
		background : rgb(0,30,80);
	}
	#barometreend{
		text-decoration: none;
		display: block;
		position: relative;
		color: white;
		margin: 0px;
		width: 20%;
		height: 55px;
		line-height: 55px;
		font-weight: bold;
		background : rgb(230,180,0);
	}
	#barometreend:hover{
		color: rgb(255,204,0);
		background : rgb(0,30,70);
		transition: 0.2s;
	}
	em{
		font-weight: bold;
		font-size: 19.2px;
	}
	.bold_m{
		font-weight: bold;
		font-size: 13.3px;
	}
@media all and (min-width: 1024px){
	#divbarometre{
		display: flex;
	}
	#barometre li{
		position: relative;
		display : table-cell ;
		border-left : 1px dotted rgb(255,204,0);
		background : rgb(255,255,255) ;
		border-bottom: 4px solid rgb(255,204,0);
		width: 10%;
		height: 55px;
		color : grey;
		line-height: 25px;
	}
	#barometrebegin{
		margin: 0px;
		width: 20%;
		border : 1px solid rgb(255,204,0);
		border-bottom: 3px solid rgb(255,204,0);
		border-bottom-left-radius: 10px;
	}
	#barometreend{
		margin: 0px;
		width: 20%;
		border : 1px solid rgb(255,204,0);
		border-bottom: 3px solid rgb(255,204,0);
		border-bottom-right-radius: 10px;
	}
	
}

@media all and (max-width: 1023px){

	#barometre li{
		position: relative;
		display : table-cell ;
		width: 10%;
		line-height: 25px;
		border : 1px solid rgb(255,204,0);
	}
	#barometrebegin{
		margin-top: 10px;
		margin-bottom: 10px;
		width: 80%;
		border : 1px solid rgb(255,204,0);
		border-bottom: 3px solid rgb(255,204,0);
		border-radius: 10px;
	}
	#barometreend{
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		border : 1px solid rgb(255,204,0);
		border-bottom: 3px solid rgb(255,204,0);
		border-radius: 10px;
	}
}
/*Fin barometre des taux*/

/*Début affiche*/
#affiche{
	background-image: url("https://lescourtiers.com/image/panorama_ville.jpg");
	position : relative;
	height : 450px;
	width : 100%;
	margin-top: 0px;
	box-shadow : inset 0px 3px 8.5px 1.5px rgba(0, 0, 0, 0.54);
	border-bottom : 3px solid rgb(255,204,0);
	border-top: solid 1px black;
}


/* ecran 15pouce 1366px */

/* Appareils

Largeurs (en pixels) Condition généralement utilisée

Smartphones
320 à 480
(max-width: 480px)

De smartphones à tablettes
481 à 767
(max-width: 767px)

Tablettes à petits écrans
768 à 979
(min-width: 768px) and (max-width: 979px)

Ordinateurs
980 à 1199
-
Écrans larges
1200 et plus
(min-width: 1200px) */

@media all and (max-width: 1023px)
{
	#affiche{
	display: none;
	}
}

#affiche2{
	position : relative;
	height : 90%;
	width : 80%;
	max-width: 1024px;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	background-color : rgba(0, 0, 0,0.5);
}
#affiche3{
	font-size : medium;
	text-align : center ;
	color : rgb(0, 0, 0);
	background-color : rgb(255, 204, 3) ;
	width : 10% ;
}
#affiche4{
	position : absolute ;
	bottom : 0 ;
	display : inline-block ;
	width : 100% ;
	padding-top : 12px ;
	padding-bottom: 12px ;
	background-color : rgba(0, 0, 0, 0.8) ;
}
.carousel{
	display: flex;
	position: relative;
	height: 75%;
	color: white;
}
.carousel-under1{
	position: relative;
	text-align: center;
	width: 40%;
	padding-top: 3%;
}
.carousel-under2{
	position: relative;
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
}
#affiche5{
	display : inline;
	font-size : large;
	color : rgb(255, 255, 255);
	padding : 5px;
}
#voirplus{
	position : absolute ;
	display : inline ;
	text-decoration : none ;
	font-size: large  ;
	color: rgb(255, 255, 255) ;
	border: solid 1px white;
	border-radius: 10px ;
	padding: 5px ;
	right : 5px ;
	bottom : 5px ;
}
#voirplus:hover{
	border-color: rgb(255, 204, 3) ;
	color: rgb(255, 204, 3) ;
}

.champignon{
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	border: solid 10px rgb(255, 204, 3);
	border-radius: 100%;
	background-color: white;
}
.champignon:hover{
	background-color: rgb(180,0,0);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	transition : 1.5s;
	width: 220px;
	height: 220px;
	border: solid 10px rgb(130,0,0);
}

.champignon p{
	display: block;
	height: 200px;
	font-size: 19.3px;
	font-weight: bold;
	color: rgb(0, 30, 70);
	padding-top: 30%;
}
.champignon p:hover{
	color: white;
	;
}
.affiche_img{
	position: relative;
	display: block;
	width: 500px;
	height: auto;
	margin: 0;
	margin-top: -50px;
	padding: 0px;
}

/*Fin affiche*/

/*Début Part 1 (le contrat)*/
.lign{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 1024px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: solid 2px rgba(207,207,207,0.4);
}
.colum{
	position: relative;
	width: 100%;
	display: flex;
	justify-content : center;
	margin-bottom: : 15px;
}

@media all and (max-width: 1023px){
	.colum{
	display: block;
	text-align: center;
	}
}
.colum-left{
	display: flex;
	justify-content : left;
	margin-bottom: : 15px;
	padding-left: 8%
}
.block_md_100{
	position: relative;
	width: 100%;
	padding: 10px;
}
.block_md_90{
	position: relative;
	width: 90%;
	padding: 10px;
}
.block_md_75{
	position: relative;
	width: 75%;
	padding: 10px;
}
.block_md_60{
	position: relative;
	width: 60%;
	padding: 10px;
}
 .block_md_50{
 	position: relative;
	width: 50%;
	padding: 10px;
}
 .block_md_40{
	position: relative;
	width: 40%;
	padding: 10px;
}
 .block_md_33{
	position: relative;
	width: 33%;
	padding: 10px;
}
@media all and (min-width: 680px) and (max-width: 1023px)
{
	.block_md_33{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	}
}

@media all and (max-width: 680px)
{
	.block_md_33{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	}
}

.block_md_30{
	position: relative;
	width: 30%;
	padding: 10px;
}
.block_md_25{
	position: relative;
	width: 25%;
	padding: 10px;
}
.sm-text-center{
	display: block;
	padding: 5px;
	text-align: justify;
	height: 100px;
	font-size: 13.3px;
	line-height: 19.2px;
}
.med-text-center{
	display: block;
	padding: 5px;
	text-align: justify;
	height: 100px;
	font-size: 16px;
	line-height: 19.2px;
}
.pave{/*tableau 1 du contrat*/
	position: relative;
	margin: 0px;
	padding: 0px;
	/*border: outset 4px rgb(0, 30, 70);*/
	border-radius: 30px;
	background-color: rgb(255, 255, 254);
	height: auto;
}
.pave_2_blue{
	position: relative;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	height: 100px;
	width: 100%;
	display: flex;
	border: inset 4px rgb(115, 208, 244);
	background-color: rgba(207,207,207,0.1);
	border-radius: 20px;
	height: 100px;
}
.pave_2_yellow{
	position: relative;
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
	height: 100px;
	width: 100%;
	display: flex;
	border: outset 4px rgb(255, 204, 0);
	background-color: rgba(207,207,207,0.1);
	border-radius: 20px;
	height: 100px;
}
.pave img{
	display : block ;
	position: relative;
	margin: 0px;
	padding: 10px;
	width : 30%;
	height : auto;
}
.divpt{
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: solid 1px rgba(207,207,207,0.3);
	background-color: rgba(115,208,244,0.1);
	border-radius: 20px;
}
.divpt h3{
	display: block;
	position: relative;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	text-align : center ;
	color: rgb(171, 137, 0) ;
}
.divpt p{
	display : block;
	position: relative;
	margin: 0px;
	margin-top: 5%; 
	padding: 0px;
	padding-left: 5%;
	padding-right: 5%;
	color: rgb(61, 61, 61);
	line-height: 1.2;
	text-align : center;
}
@media all and (min-width:1024px)
{
	.divpt h3{
		font-size: 16px;
	}
	.divpt p{
		font-size: 13.3px;
	
	}
}
@media all and (min-width:681px) and (max-width:1023px)
{
	.divpt h3{
		font-size: 16px;
	}
	.divpt p{
		font-size: 13.3px;
	
	}
}
@media all and (max-width:680px)
{
	.divpt h3{
		font-size: 13.3px;
	}
	.divpt p{
		font-size: 13.3px;
	}
}
.gras{
	font-weight : bold ;
}
/*Fin du contrat*/

/*Début Part 2 (solutions et simulateurs)*/
.simu_button{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	border: outset 5px rgb(115, 208, 244);
	border-radius: 30px;
	padding: 10px;
	
}
.simu_button:hover{
	width: 90%;
	border: outset 5px rgb(0, 30, 70);
	background-color: rgb(255, 204, 0);
	color: white;
	transition: 0.5s;
}
.simu_button a{
	position: relative;
	display: block;
	text-decoration: none;
	}
.simu_button p{
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
	color: rgb(0, 30, 70);
}
.simu_button p:hover{
	color: white;
}
.simu_img{
	position: relative;
	display: block;
	width: 25%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}


/*
.titre-lg{
	text-align: center;
	border: solid 1px red;
	height: 40px;
	line-height: 40px;
}
.jaune{
	font-style : normal ;
	font-weight : bold ;
	font-size : 26px ;
	color :  rgb(255,204,0) ;
}
.titlepart2{
	position: relative;
	display: flex;
	margin-left: 10%;
	margin-right: 10%;  
}
.titlepart2 h2{
	position: relative;
	display: block;
	width: 50%;
	padding: 0;
	margin: 0;
	padding-left: 5%;
	font-weight : bold ;
	font-size : 23px;
	text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.35);
	border-bottom: solid 2px rgb(255,204,0);    
}
#niveau{
	display : flex ;
	position: relative;
	width: 80%;
	margin-left: 10%;
}
.block p{
	font-size : 16px ;
	width : 90% ;
	margin : 0px ;
	padding : 0px ;
	color: rgb(101, 101, 101) ;
}
.lignebouton{
	position: relative;
	margin-top: 5%;
	margin-bottom: 1%;
}
.lignebouton p{
	position: relative;
	margin-right: 5%;
	padding-top: 1%;
	width: 50%;
	float:left;
	line-height: 20px;
	font-size: 16px ;
	height: 65px;
}
.boutonsimu-sm{
	position: relative;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	margin-bottom: 10px;
	background-color: rgba(255,255,255,0.4);
}
.boutonsimu-sm a{
	display: block;
	text-decoration: none;
	height: 100px;
	border: solid 2px rgba(207,207,207,0.4);
	background-color: rgba(207,207,207,0.1);
}
.boutonsimu-sm a:hover{
	border: solid 2px rgba(0, 30, 70,0.8);
}
.boutonsimu-sm p{
	position: relative;
	display: block;
	margin: 0px;
	margin-left: 10%;
	margin-top: 4%;
	width: 50%;
	color: black;
	font-size: 13.3px;
	text-align: center;
	font-weight : bold ;
}
.imagesimu-sm{
	position: absolute;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 98px;
	padding: 4px;
}


.boutonsimu-lg{
	position: relative;
	width: 200px;
	height: 200px;
	margin-left: 10px;
	margin-bottom: 10px;
	color: white;

}
.boutonsimu-lg a{
	display: block;
	text-decoration: none;
	height: 100px;
}
.boutonsimu-lg a:hover{
}
.boutonsimu-lg p{
	position: relative;
	display: block;
	margin: 0px;
	margin-left: 10%;
	margin-top: 4%;
	width: 50%;
	color: black;
	font-size: 13.3px;
	text-align: center;
	font-weight : bold ;
}
.imagesimu-lg{
	position: absolute;
	right: 0;
	width: 100px;
	height: 100px;
	padding: 4px;
	margin-left: 10px;
	border: solid 2px rgba(255,255,255,1);
}
.imagesimu-lg:hover{
	background-color: rgba(255,204,0,0.2);
	border: solid 2px rgba(255,204,0,1);
}
.boutonsimu{
	position: relative;
	width: 100%;
	height: 100px;
	margin-bottom: 10px;
	/*background-color: rgba(255,255,255,0.4);*/
}/*
.boutonsimu a{
	display: block;
	text-decoration: none;
	height: 100px;
	border: solid 2px rgba(207,207,207,0.4);
	/*background-color: rgba(207,207,207,0);*/
}/*
.boutonsimu a:hover{
	border: solid 2px rgba(0, 30, 70,0.8);
	background-color: rgba(255,255,255,0.4);
}
.boutonsimu p{
	position: relative;
	display: block;
	margin: 0px;
	margin-top: 10%;
	width: 100%;
	color: black;
	font-size: 26px;
	text-align: center;
	font-weight : bold ;
}
.imagesimu{
	position: absolute;
	right: 0;
	z-index: -1;
	width: 100%;
	height: 98px;
	padding: 0px;
}
.petittable{
	position: relative;
	margin-top: 5%; 
	margin-left: 7.5%;
	border: solid 10px rgb(172, 172, 172);
	background-color: rgb(255, 255, 254);
	width: 85%;
	height: auto;
}
.lignepetittable{
	position: relative;
	height: 33%;
	padding: 1%;
	padding-top: 5%;
	padding-bottom: 5%;
	border: solid 1px rgba(207,207,207,0.3);
	background-color: rgba(207,207,207,0.1);
}
.lignepetittable p{
	position: relative;
	width: 50%;
	float:left;
	line-height: 20px;
	font-size: 16px ;
	height: 70px;
	margin-right: 1%;
	text-align: left;
}*/
/*Fin nos solutions*/

/*Début observatoire*/
#observatoire{
	font-style : normal ;
	font-weight : bold ;
	font-size : x-large ;
	margin-left : 10% ;
	margin-bottom : 0.5% ;
	text-shadow: 2px 0px 1px rgba(0, 0, 0, 0.35) ;
}
.menuobservatoire{
	height: 305px;
	background-color : rgba(115, 208, 244,0.1) ;
	border: outset 5px rgb(115, 208, 244);
	border-radius : 20px ;
	/*box-shadow : inset 0px 3px 8.5px 1.5px rgba(0, 0, 0, 0.54) ;*/
}
.titreobservatoire{
	display: block;
	position: relative;
	height: 70px;
	margin:0;
	padding-left: 5%;
	padding-top: 5%;
	font-size : 27.6px;
	color : rgb(255,204,0);
}
.lignactu{
	display: flex;
	position: relative;
	width: 100%;
	height: 57.5px;
	margin: 0px;
	padding: 0px;
	border-top: solid 1px rgb(115, 208, 244);
}
.lignactu p{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	font-size : 13.3px;
	line-height: 50px;
	font-weight : bold ;
	color : rgb(255,204,0);
}
.lienactu{
	display: block;
	position: relative;
	text-decoration: none;
	width: 88%;
	margin: 0px;
	padding: 0px;
	padding-left: 5px;
	font-size : 13.3px;
	line-height: 50px;
	color: rgb(0,30,70);
}
.lienactu:hover{
	text-decoration: underline;
}
.courbe{
	position: relative;
	display: block;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	border: solid 2px rgb(255,204,0);
	border-radius: 20px;
}
/*Fin observatoire*/
#divcredit{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 25px;
	padding: 0px;
	margin: 0px;
	background-color: rgba(207,207,207,0.4);
}
#credit{
	font-size: 12px;
	padding-top: 3px;
	margin: 0px;
	width: 100%;
	height: 25px;
	text-align: center;
	color: grey;
}
/*Début footer*/
footer{
	margin: 0px;
	position: relative;
	bottom: 0px;
	background :linear-gradient( #181b1d , #0c0e0f );
	color:  rgb(255,204,0);
	border-top : 3px solid #ffcc00;
	padding: 5px
}
#divfooter{
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
#contact{
	position: relative;
	padding: 0;
	margin: 0;
	width: 30%;
	margin-left: 20%;
	justify-content : flex-start ;
}
#contact li{
	list-style-type:none;
	text-align: center;
}
#contact a{
	color: rgb(255, 204, 0);
	text-decoration: none;
}
#reseaux{
	position: relative;
	padding: 0;
	margin: 0;
	width: 30%;
	justify-content : flex-start ;
}
#reseau ul{
	list-style-type: none;
}
#reseaux a{
	text-decoration: none;
}
#copyright{
	width : 100% ;
	text-align: center ;
}
/*fin footer*/
/*page actualités*/
.pagenews{
	display : flex ;
	justify-content: center;
}
.tribune{
	display : flex ;
	flex-direction: column ;
	width : 50% ;
	margin-right : 5%  ;
}
.article{
	display : block ;
	color : #242323 ;
	margin-bottom : 3%;
	position: relative ;
	padding-bottom : 1%;
	border-bottom : 1px solid #A0A09F ;
}
.titrearticle{
	font-size : 30px;
	margin-bottom : 0px ;
}
.datearticle{
	font-size : 15px ;
	margin-top : 0px ;
}
.textarticle{
	display: block;
	font-size : 16px;
	margin-left : 30% ;
	margin-right :  5%;
}
.photoarticle{
	float : left ;
	width : 200px ;
	height : 200px ;
}
.boutonarticle{
	position : absolute ;
	background-color: #324158 /*rgbrgb(50, 65, 88)*/ ;
	border : 1px solid #324158 ;
	display : block ;
	width : 25% ;
	padding : 5px ;
	text-align : center ;
	bottom : 0;
	margin-left : 70% ;
	color : white  ;
	border-radius: 5px;
}
.boutonarticle:hover{
	background-color : rgba(50, 65, 88,0.3) ;
	}
.colone{
	display : flex ;
	flex-direction: column ;
	width : 20% ;
}
.phototribune{
	width : 75px ;
	height : 75px ;
	float : left ;
}
.colonnetitre{
	border-bottom : 1px solid #A0A09F ;
}
.titrearticlecolonne{
	margin-top : 0 ;
	margin-right : 0 ;
	text-align: right ;
}
.datecolonne{
	font-size : 14px ;
	text-align : right ;
}
.articlecolonne{
	margin-top : 10% ;
	margin-bottom : 10%;
}
.sectioncolonne{
	display : block ;
	color : #242323 ;
	margin-bottom : 3%;
	position: relative ;
	padding-bottom : 1%;
}
.logoreseauxsociauxactualites{
	width : 50px ;
	height : 50px;
	float : left;
	margin-right : 10% ;
}
/*Fin page actualité*/

/*Début article guide*/

/*Fin article guide*/

/*Début css askfile*/

.askfile{
	position: relative;
	left:10%;
	width: 80%;
	text-align: center;
}
.tableau{
	position: relative;
}
.tableau h2{
	color: rgb(255,204,0);
	border-bottom: solid 1px grey;
}
.tableau table{
	margin:auto;
}
.tableau tr{
	position: relative;
	width: 80%;
	height: 60px;
}
.tableau td{
	position: relative;
	width: 200px;
	text-align: justify;
	border-bottom: solid 1px rgba(255,204,0,0.8);
	line-height: : 10px;
}
.tableau p{
	color: grey;
	font-size: 9px;
	text-align: justify;
}
.tableau strong{
	color: grey;
	font-size: 9px;
	text-align: justify;
}
select{
	height: 30px;
	width: 207px;
	font-size: 1em;
	border: solid 1px rgba(255,204,0,0.8);
	background-color: rgba(255,204,0,0.05);
	padding:3px;
}
input{
	height: 25px;
	width: 200px;
	font-size: 1em;
	border: solid 1px rgba(255,204,0,0.8);
	background-color: rgba(255,204,0,0.05);
	padding:3px;
}
button{
	width: 200px;
	height: 70px;
	color: rgba(255,204,0,0.8);
	background-color: rgb(0,30,70);
	border: 7px solid rgba(255,204,0,1);
	border-radius: 15px;
	font-size: 20px;
	box-shadow : 0px 3px 8.5px 1.5px rgba(0,0,0,0.2);
	font-weight: bold;
}
button:hover{
	color: rgb(0,30,70);
	background-color: rgb(255,204,0);
	border: 7px solid rgba(0,30,70,1);
	
	transition: 0.5s;

}

/*Fin css askfile*/

/*Début simulateur*/


/*fin simulateur*/
.alert-success {
	color: rgb(70, 136, 71);
	background-color: rgb(223, 240, 216);
	border-color: rgb(214, 233, 198);
}
.alert {
	
	padding: 15px;
	border: 1px solid transparent;
	border-image: initial;
	border-radius: 4px;
}
*, ::before, ::after {
	box-sizing: border-box;
}
.alert-danger {
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
html {

	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*Début Formulaire immo*/
.formulaire{
	width: 70%;
	background-color: rgba(0, 30, 70,0.1);
}
.formulaire h2{
	text-align: center;
	color: #ffcc00;
	border-bottom: solid 1px #ffcc00;
	padding-top: 30px;
	font-size: 23px;
	background-color: white;
}
.petit_logo_info{
	position: absolute;
	display: block;
	right: 0;
	width: 4%;
	height: auto;
	background-image: url("https://lescourtiers.com/image/icone_aide.png");
}
a.info {
	position: absolute;
	display: block;
	width: 4%;
	right: 30%;
	text-decoration: none;
	background-image: url("https://lescourtiers.com/image/icone_aide.png");
}
a.info img{
	width: 100%;
	height: auto;
}
a.info span {
	display: none; /* On masque l'infobulle. */
}
a.info:hover {
	background: none; /* Correction d'un bug d'Internet Explorer. */
	z-index: 500; /* On définit une valeur pour l'ordre d'affichage. */
	cursor: help; /* On change le curseur par défaut par un curseur d'aide. */
}
a.info:hover span {
	display: inline; /* On affiche l'infobulle. */
	position: absolute;
	white-space: nowrap; /* On change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non désiré. */
	bottom: 0px; /* On positionne notre infobulle. */
	left: 150%;
	background: rgba(172, 172, 172,0.2);
	color: grey;
	padding: 3px;
	text-align: left;
	font-size: 13.3px;
	border: 1px solid grey;
	border-left: 4px solid grey;
	border-radius: 3px;
}
.petit_logo_info:hover{
	width: 5%;
}
.titreformulaire{
	text-align: left;
	padding-left: 2.5%;
	font-size: 16px;
	display: block;
}
.sous_titre_formulaire{
	color: red;
}
.divradio{
	text-align: left;
	display: flex;
	padding: 10px;
	border-bottom: solid 1px rgba(128,128,128,0.5);
}
.divradio div{
	position: relative;
	display: flex;
	width: 20%;
	/*border: solid 1px orange;*/
}
.divradio-50{
	text-align: left;
	display: flex;
	padding: 10px;
	border-bottom: solid 1px rgba(128,128,128,0.5);
}
.divradio-50 div{
	position: relative;
	display: flex;
	width: 40%;
}
.divradio-50 label{
	display: block;
	text-align: center;
	font-size: 13.3px;
	font-weight: bold;
	line-height: 25px;
	width: 100%;
	height: 40px;
	padding: 5px;
	margin-left: 10%;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #ffcc00;
	border-bottom: solid 3px #ffcc00;
}
.divradio label{
	display: block;
	text-align: center;
	font-size: 13.3px;
	font-weight: bold;
	line-height: 25px;

	width: 100%;
	height: 40px;
	padding: 5px;
	margin-left: 10%;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #ffcc00;
	border-bottom: solid 3px #ffcc00;
}
.label-sm{
	font-size: 11px;
}
.divradio label:hover{
	display: block;
	text-align: center;
	width: 100%;
	height: 35px;
	padding: 5px;
	margin-left: 10%;
	margin-top: 3px;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #001e46;
	border-bottom: solid 1px #001e46;
	cursor: pointer;
	transition: 0.2s;
}
.divradio-50 label:hover{
	display: block;
	text-align: center;
	width: 100%;
	height: 35px;
	padding: 5px;
	margin-left: 10%;
	margin-top: 3px;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #001e46;
	border-bottom: solid 1px #001e46;
	cursor: pointer;
	transition: 0.2s;
		
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.divradio input[type=radio] + label {
}
.divradio-50 input[type=radio] + label {
} 
.divradio input[type=radio]:checked + label {
  color: white;
  font-style: normal;
  background-color: #001e46;
} 
.divradio-50 input[type=radio]:checked + label {
  color: white;
  font-style: normal;
  background-color: #001e46;
}
.divquestion{
	text-align: left;
	margin-left: 2.5%;
	padding: 10px;
	border-bottom: solid 1px rgba(128,128,128,0.5);
}
.divquestion label{
	margin-top: 5px
	margin-bottom: 2.5px;
	display: block;
	font-weight: bold;
	font-size: 16px;
}
.divquestion input{
	height: 45px;
	width: 300px;
	font-size: 1em;
	border: solid 1px rgba(255,204,0,0.8);
	border-bottom: solid 3px rgba(255,204,0,0.8);
	background-color: white;
	padding:3px;
	text-align: right;
	font-size: 20px;
}
.divquestion_sm {
	text-align: left;
	margin-left: 2.5%;
	padding: 10px;
	border-bottom: solid 1px rgba(128,128,128,0.5);
}
.divquestion_sm label{
	margin-top: 5px
	margin-bottom: 2.5px;
	display: block;
	font-size: 13.3px;
	text-align: center;
	font-weight: bold;
}
.divquestion_sm input{
	height: 45px;
	width: 200px;
	font-size: 1em;
	border: solid 1px rgba(255,204,0,0.8);
	border-bottom: solid 3px rgba(255,204,0,0.8);
	background-color: white;
	padding:3px;
	text-align: right;
	font-size: 20px;
}
/*
.divquestion input[type="text"]:valid{
	background-color: #001e46;
	color: white;
}
.divquestion input[type="date"]:valid{
	background-color: #001e46;
	color: white;
}
.divquestion input[type="tel"]:valid{
	background-color: #001e46;
	color: white;
}
.divquestion input[type="number"]:valid{
	background-color: #001e46;
	color: white;
}

input:invalid+span:after {
	position: absolute; content: '✖';
	padding-left: 5px;
	height: 40px
}

input:valid+span:after {
	position: absolute;
	content: '✓';
	padding-left: 5px;
}
*/
.divquestion select{
	height: 45px;
	width: 300px;
	font-size: 1em;
	border: solid 1px rgba(255,204,0,0.8);
	border-bottom: solid 3px rgba(255,204,0,0.8);
	background-color: white;
	padding:3px;
	text-align: right;
	font-size: 20px;
}
.divquestion select:valid{
	background-color: #001e46;
	color: white;
}
select:invalid+span:after {
	position: absolute; content: '✖';
	padding-left: 5px;
	height: 40px
}
select:valid+span:after {
	position: absolute;
	content: '✓';
	padding-left: 5px;
}
.formtext{
	position: relative;
	width: 100%;
}
/*Fin Formulaire immo*/

/*début page account*/
.account_menu{
	position: relative;
	width: 20%;
	margin: 0px;
	padding: 0px;
	background-color: #FAFAFA;

	-webkit-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.29);
	-moz-box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.29);
	box-shadow: 4px 1px 5px 0px rgba(0,0,0,0.29);

}
.account_menu ul{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
.account_menu li{
	list-style-type: none;
}
.account_menu_sous-titre{
	display: block;
	text-decoration: none;
	color: rgb(0, 30, 70);
	font-size: 13.3px;
	margin: 0px;
	padding: 3px;
	padding-left: 40%;
	-moz-box-shadow: inset 1px 0px 1px 0px #001e46;
	-webkit-box-shadow: inset 1px 0px 1px 0px #001e46;
	-o-box-shadow: inset 1px 0px 1px 0px #001e46;
	box-shadow: inset 1px 0px 1px 0px #001e46;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#001e46, Direction=90, Strength=1);
}
.account_menu_sous-titre:hover{
	color: rgb(255, 204, 0);
	background-color: rgba(0, 30, 70,0.5);
	-moz-box-shadow: inset 1px 1px 1px 0px #001e46;
	-webkit-box-shadow: inset 1px 1px 1px 0px #001e46;
	-o-box-shadow: inset 1px 1px 1px 0px #001e46;
	box-shadow: inset 1px 1px 1px 0px #001e46;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#001e46, Direction=134, Strength=1);
}
.account_menu_id{
	display: block;
	height: 80px;
	padding: 5px;
	margin-bottom: 10px;
	text-decoration: none;
	background-color: rgba(255, 204, 0,1);
	border-bottom: solid 1px rgb(0, 30, 70);
}
.account_menu_id p{
	display: block;
	font-size: 23px;
	font-weight: bold;
	text-align: center;
	color: rgb(0, 30, 70);
	margin: 0px;
	padding: 2px;
}
.account_menu_id:hover{
	background-color: rgba(255, 204, 0,0.5);
}
.account_menu_titre{
	display: block;
	font-size: 19.3px;
	color: rgb(255, 204, 0);
	padding: 5px;
	padding-left: 20%;
	margin: 0px;
	background-color: rgb(0, 30, 70);
	border-bottom: solid 0px grey;
	-moz-box-shadow: 1px 0px 1px 0px #001e46;
	-webkit-box-shadow: 1px 0px 1px 0px #001e46;
	-o-box-shadow: 1px 0px 1px 0px #001e46;
	box-shadow: 0px 0px 1px 0px #001e46;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=90, Strength=1);
}
/*Debut menu_account*/

/*fin menu_account*/
.pagecompte{
	display: flex;

	border:solid 1px red;

}
.sectioncompte{
	position: relative;
	width: 80%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	text-align: center;
	background-color: #EEEEEE;
}
.friseetape{
	display: flex;
	justify-content: space-around;
}
.friseetape div{
	width: 18%;
}
.etapespace{
	padding: 10px;
}
.etape{
	position: relative;
	margin-left: 40%;
	width: 25px;
	height: 25px;
	border:solid 1px grey;
	background: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.etapevalide{
	position: relative;
	margin-left: 40%;
	width: 25px;
	height: 25px;
	color: white;
	background: #001e50;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.etapeencours{
	position: relative;
	margin-left: 40%;
	width: 25px;
	height: 25px;
	color: #001e50;
	background: white;
	border: solid 2px #001e50;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.libetape{
	font-size: 13.3px;
	color: grey;
}
.libetapeencours{
	font-size: 13.3px;
	color: black;
}
#dossierimage{
	position: relative;
	background-image: url("image/business-2959311_1920.jpg");
	left: -200px;
	width: 450px;
	height: auto;
	margin: 0px;
}
.imagepresentationetape{
	text-align: left;
	padding: 3%;
	font-size: 13.3px;
	text-align: justify;
	width: 300px;
}
.presentationetape{
	text-align: left;
	padding-top: 2%;
	width: 90%;
	font-size: 13.3px;
	text-align: justify;
}
.zoneproposition{
	width: 90%;
	margin-left: 5%;
}
.divradioproposition{
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 90%;
	padding: 5px;
	border-bottom: solid 1px rgba(128,128,128,0.5);
	/*border: solid 1px red;*/
}
.divradioproposition label{
	display: block;
	position: relative;
	text-align: center;
	line-height: 25px;
	width: 80%;
	padding: 5px;
	margin-left: 10%;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #ffcc00;
	border-bottom: solid 3px #ffcc00;
}
.divradioproposition label:hover{
	display: block;
	text-align: center;
	padding: 5px;
	margin-left: 10%;
	margin-top: 3px;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #001e46;
	border-bottom: solid 1px #001e46;
	cursor: pointer;
	transition: 0.2s;	
}
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
.divradioproposition input[type=radio] + label {
} 
.divradioproposition input[type=radio]:checked + label {
  color: white;
  font-style: normal;
  background-color: #001e46;
} 
.proposition{
	position: relative;
	width: 80%;
	font-size: 13.3px;
	text-align: center;
	/*border: solid 1px green;*/
	margin: 16px;
	padding: 0px;
}
.recapinfo{
	width: 100%;
	/*border:solid 1px red;*/
}
.deuxsousinfo{
	display: flex;
	justify-content : space-between;
	/*border: solid 1px green;*/
}
.petitesousinfo{
	width: 48%;
	border: solid 1px orange;
}
.sousinfo{
	margin-top: 10px;
	border: solid 1px #ffcc00;
	padding: 16px;
}
.sousinfo h3{
	margin-left: 5%;
	width: 90%;
	border-bottom: solid 1px grey;
}
.souscompte h2, h2{
	text-align: center;
	color: #ffcc00;
	border-bottom: solid 1px #ffcc00;
	font-size: 23px;
}
.titresouscompte{
	text-align: left;
	padding-left: 2.5%;
	display: block;
}
/*fin page account*/
/*debut filactualite*/
.filactu{
	position: relative;
	width: 70%;
	border: solid 1px grey;
	margin-left: 20%;
	margin-bottom: 15px;
	padding-bottom: 15px;
	text-align: left;
	background-color: #e9ebee;
}
.annoncefilactu{
	position: relative;
	width: 90%;
	margin-left: 5%;
	padding: 5px;
	border: solid 1px grey;
	border-radius: 5px;
	background-color: white;
	margin-top: 15px;
}
.annoncefilactu h4{
	position: relative;
	display: block;
	margin: 0;
	margin-top: 13px;
	margin-left: 5px;
	padding: 0;
}
.logo-sm-cercle{
	position: relative;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.datefilactu{
	position: relative;
	margin: 0;
	margin-left: 5px;
	padding: 0;
	font-size: 9.2px;
	color: grey;
}
/*fin filactualite*/
/*login*/
.connexion{
	position: relative;
	margin-left: 25%;
	width: 50%;
	text-align: center;
}
/* fin login*/

/*debut accountfile*/
.table_account{
	margin-right: 5%;
}
.lign_account{
	display: flex;
	position: relative;
}

.case_account_1, .case_account_2, .case_account_3, .case_account_4, .case_account_5{
	position: relative;
	padding-left: 5px;
	padding-right: 5px;
	height: 80px;
	border: solid 1px black;
}
.case_account_1{
	width: 16.666%;
	text-align: center;
	line-height: 50px;
	font-size: 13.3px;
	font-weight: bold;
	
}
.case_account_2{
	width: 49.996%;
	line-height: 20px;
	font-size: 13.3px;
}
.case_account_3{
	width: 33.332%;
	text-align: center;
	line-height: 23.3px;
	font-size: 11px;
}
.case_account_4{
	width: 16.666%;
	text-align: center;
	line-height: 23.3px;
	font-size: 11px;
}
.case_account_4 label{
	font-size: 9.2px;
}
.case_account_4 label:hover{
	cursor: pointer;
}
.case_account_4 input{
	width: 80%;
	height: auto;
	font-size: 11px;
}
.case_account_4 input:hover{
	cursor: pointer;
}
.case_account_5{
	width: 16.666%;
	text-align: center;
	line-height: 23.3px;
	font-size: 11px;
}
.case_account_5 label{
	font-size: 9.2px;
}
.case_account_5 label:hover{
	cursor: pointer;
}
.case_account_5 input{
	width: 80%;
	height: auto;
	font-size: 11px;
}
.case_account_5 input:hover{
	cursor: pointer;
}
/*fin accountfile*/

/*debut analyse*/



/* Fin analyse */

.tuile_graph{
	position: relative;
	margin: 0px;
	padding: 10px;
	font-family: 'Roboto',sans-serif;
    font-size: 13px;
   /* -webkit-tap-highlight-color: rgba(0,0,0,0);*/
	background-color: rgba(255,255,255,0.87);
    border: solid transparent;
    border-width: 1px 1px 1px 1px;
    min-height: 28px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.37);
}
.tuile_graph h3{
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	font-size: 19.2px;
}
.tuile_graph_table{

}
.tuile_graph_table div{
	display: flex;
}
.tuile_graph_table h3 ,.tuile_graph_table p{
	display: block;
	position: relative;
	margin: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 0;
	padding-bottom: 20px;
	width: 33%;
	height: 13.3px;
	font-size: 13.3px;
	border-bottom: solid 1px grey;

}

.tuile_graph_propal{
	position: relative;
	display: block;
	width: 100%;
	border : solid 1px green;
}
.tuile_graph_propal h3{
	position: relative;
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 19.2px;
	border : solid 1px red;
}
.tuile_graph_propal p{
	position: relative;
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 27.6px;
	border : solid 1px orange;
}


/*
xx-small (9.2px)
x-small (11px)
small (13.3px)
medium (16px)
large (19.2x)
x-large (23px)
xx-large (27.6x)
*/